@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background: url('../public/images/Purple-Lens-Flare-PNG.png');
}
.header{
  @apply flex justify-around items-center w-[100vw] h-[15vh] border-b-[0.5px] border-b-slate-400 text-[18px]
}
.header h2{
  @apply text-white text-[36px] font-extrabold pl-24 
}
.header h2>span{
  @apply text-[#D434FE]
}
nav ul{
  @apply flex justify-around items-center w-[60vw] max-md:hidden
}
.btn{
  @apply bg-gradient-to-r to-purple-600 from-pink-300  px-[30px] h-[44px] text-white 
}
.firstimg{
  background: url('../public/images/Title.png');
  background-repeat: no-repeat;
  background-size: contain;
  @apply h-[10vh] w-[45vw] lg:absolute lg:top-[200px] lg:left-[135px]  lg:h-[32vh] m-auto max-sm:scale-150
}
.inside{
  @apply lg:flex  w-full pt-[30px] border-b-[1px] 
}
.inside1{
  @apply lg:flex lg:flex-col lg:w-[50%] lg:gap-3  justify-center lg:h-[50%] text-center
}
.inside2{
  @apply flex lg:flex-col w-[50%]  items-center justify-center m-auto max-sm:pt-[78px]
}
.textArea{
  @apply lg:absolute lg:top-[400px] lg:left-[135px] 
}
.textArea p{
  @apply pb-8
}
.hours{
  @apply flex flex-row justify-center
}
.hours pre{
  @apply text-[30px]
}
.hours small{
  @apply text-[12px] -ml-3
}
.linediv{
  @apply w-[100%] max-md:text-center sm:text-[29px] max-md:pt-4 max-md:leading-8 lg:flex  flex-col lg:pl-[50%] 
}
.line{
  background-repeat: no-repeat;
  background-size: cover;
  background: url('../public/images/line.png');
  @apply w-[44%] h-[2.6vh] lg:ml-56 m-auto lg:w-[32%]
}
.hackerthonguy{
  background: url('../public/images/Hackathon-guy.png');
  background-repeat: no-repeat;
  background-size: contain;
  @apply h-[40vh] w-[250px] lg:h-[90vh] lg:w-[100%] max-sm:scale-150 lg:relative lg:left-[300px];
}
.linediv h1> i{
  @apply text-[28px] font-bold
}
main,header{
  background-color: #150E28;
  @apply text-white w-[100vw]
}
.part2 , .part3 {
  @apply lg:flex w-[100vw] h-[90vh] lg:justify-center items-center relative pt-11 border-b-[1px] border
}
.bulbdiv{
  @apply h-[40vh] w-[62vw] lg:w-[50vw] flex m-auto lg:h-[100vh]
}
.lightbulb{
  background-repeat: no-repeat;
  background-size: cover;
  /* zoom: 1.7; */
  background: url('../public/images/idea-bulb.png');
  @apply h-[100%] w-[300px] lg:absolute  lg:left-[120px] lg:top-[200px] lg:h-[45vh] lg:w-[22%]  lg:scale-150; 
}
.text2{
   @apply lg:relative h-[80%] lg:top-[70px] lg:left-[150px] text-center;
}
.text2 >h1{
  @apply lg:text-[34px] text-[29px] font-extrabold mb-8
}
.text2 > h1>span{
  @apply text-[#D434FE]
}
.text2>p{
  @apply font-sans  text-[16px] lg:w-[70vw] w-[94vw] 
}
.text3{
  left: -300px;
  @apply relative h-[80%]
  
}
.text3 >h1{
 @apply text-[38px] font-extrabold mb-8
}
.text3 > h1>span{
 @apply text-[#D434FE]
}
.text3>p{
 @apply font-sans space-y-1 text-[16px]
}
.chairlady{
  right: 70px;
  bottom: 50px;
  zoom: 1.5;
  background: url('../public/images/chairlady.png');
  @apply absolute h-[88%] w-[32%]
}
.part4 {
  @apply flex w-[100vw] h-[100vh] justify-center mt-32 items-center relative pt-11 border-b-[1px]
}
.workers{
  right: 200px;
  top: 50px;
  zoom: 1.7;
  background-size: contain;
  background: url('../public/images/workers.png');
  @apply w-[40%] h-[75%] relative  mb-[10rem]
}
.text4{
  right: 50px;
  @apply mb-[10rem] absolute
}
.text4 h1{
  @apply text-[36px] font-extrabold
}
.text4 h1>span{
  @apply text-[#D434FE]
}
.text4 > p{
  @apply my-3 
}
.text4 p>span{
  @apply text-[#D434FE]
}
