@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background: url('../public/images/Purple-Lens-Flare-PNG.png');
}
.header{
  @apply flex justify-around items-center w-[100vw] h-[15vh] border-b-[0.5px] border-b-slate-400 text-[18px]
}
.header h2{
  @apply text-white text-[36px] font-extrabold pl-24 
}
.header h2>span{
  @apply text-[#D434FE]
}
nav ul{
  @apply flex justify-around items-center w-[60vw]
}
.btn{
  @apply bg-gradient-to-r to-purple-600 from-pink-300  px-[30px] h-[44px] text-white 
}
.firstimg{
  background: url('../public/images/Title.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: 165px;
  top: 200px;
  @apply h-[32vh] w-[45vw] absolute
}
.inside{
  @apply flex w-[100vw] pt-[30px] border-b-[1px]
}
.inside1{
  @apply flex flex-col w-[50%] gap-3 justify-center h-[50%] 
}
.inside2{
  @apply flex flex-col w-[50%] 
}
.textArea{
  top: 400px;
  left: 165px;
  @apply absolute
}
.linediv{
  @apply w-[100%] flex  flex-col pl-[50%] 
}
.line{
  background-repeat: no-repeat;
  background-size: cover;
  background: url('../public/images/line.png');
  @apply w-[32%] h-[2.6vh] ml-56
}
.hackerthonguy{
  background: url('../public/images/Hackathon-guy.png');
  background-repeat: no-repeat;
  background-size: contain;
  @apply h-[90vh] w-[100%];
}
.linediv h1> i{
  @apply text-[28px] font-bold
}
main,header{
  background-color: #150E28;
  @apply text-white w-[100vw]
}
.part2 , .part3 {
  @apply flex w-[100vw] h-[90vh] justify-center items-center relative pt-11 border-b-[1px]
}
.lightbulb{
  left: 73px;
  background-repeat: no-repeat;
  background-size: cover;
  zoom: 1.9;
  background: url('../public/images/idea-bulb.png');
  @apply h-[45vh] w-[41%] absolute
}
.text2{
   top: 100px;
   left: 320px;
   @apply relative h-[80%]
   
}
.text2 >h1{
  @apply text-[34px] font-extrabold mb-8
}
.text2 > h1>span{
  @apply text-[#D434FE]
}
.text2>p{
  @apply font-sans space-y-1 text-[16px]
}
.text3{
  left: -300px;
  @apply relative h-[80%]
  
}
.text3 >h1{
 @apply text-[38px] font-extrabold mb-8
}
.text3 > h1>span{
 @apply text-[#D434FE]
}
.text3>p{
 @apply font-sans space-y-1 text-[16px]
}
.chairlady{
  right: 70px;
  bottom: 50px;
  zoom: 1.5;
  background: url('../public/images/chairlady.png');
  @apply absolute h-[88%] w-[32%]
}
.part4 {
  @apply flex w-[100vw] h-[100vh] justify-center  items-center relative pt-11 border-b-[1px]
}
.workers{
  top: 50px;
  zoom: 1.7;
  background-size: contain;
  background: url('../public/images/workers.png');
  @apply w-[40%] h-[75%] relative
}
.text4{
  @apply mx-20
}
.text4 h1{
  @apply text-[36px] font-extrabold
}
.text4 h1>span{
  @apply text-[#D434FE]
}
.text4 > p{
  @apply my-3 
}
.text4 p>span{
  @apply text-[#D434FE]
}
